/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800;900&display=swap");

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pading-container: 100px 0;
}

/* estilos generales */

body {
  font-family: "Inter", sans-serif;
  background-image: url(assets/background.webp);

}

h2 {
  font-size: 2rem;
  font-weight: 200;
  color: aliceblue;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--pading-container);
  overflow: hidden;
  /* background-color: blue; */
}


.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: 150px 1fr;
  color: aliceblue;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%),
    url(assets/banner.jpeg);
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
  z-index: -1;
  padding: 0;
}

/* nav */
nav {
  --pading-container: 0;
  /* height: 200px; */
  display: flex;
  align-items: center;
}
nav .logo img {
  display: block;
  width: 100%;
  padding-top: 10px;
}

.nav_label,
#menu {
  display: none;
}

.nav-links {
  list-style: none;
  margin-left: auto;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 1rem;
}

.nav-links a {
  text-decoration: none;
  color: aliceblue;
}

.nav-links a:hover {
  display: block;
  background-color: #ED1C24;
}

.nav-img-hamburguesa {
  display: block;
  margin-left: auto;
  width: 30px;
}

@media (max-width: 700px) {
  nav {
    justify-content: space-between;
  }
  .nav_label {
    display: block;
    cursor: pointer;
  }

  .nav-links {
    position: fixed;
    top: 120px;
    bottom: 0;
    background: #ED1C24;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
  }

  .nav_input:checked + .nav-links {
    clip-path: circle(100% at center);
  }
}

/* banner */
.banner {
  max-width: 800px;
  --pading-container: 0;
  display: grid;
  grid-auto-rows: max-content;
  align-content: center;
  gap: 0.5rem;
  padding-bottom: 100px;
  text-align: center;
}

.banner h1 {
  font-family: "Dela Gothic One", cursive;
  font-size: 4rem;
  font-weight: 400;
}

.text-menu {
  margin-bottom: 20px;
}

.banner a {
  display: inline-block;
  background-color: rgb(237, 28, 36);
  text-decoration: none;
  color: aliceblue;
  justify-self: center;
  padding: 13px 30px;
  border-radius: 22px;
}

/* SERVICIOS */

.servicios {
  height: fit-content;
  margin-top: 40px;
  transition: 400ms ease-in-out;
  /* margin-bottom: 80px; */
}
.presentacion-servicios {
  color: aliceblue;
  text-align: center;
}
.cards {
  max-width: 900px;
  /* height: 90vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  height: 200px;
  width: 200px;
  background-color: rgb(185, 204, 221);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 15px 5px 81px 7px rgba(237, 28, 36, 0.708);
  -webkit-box-shadow: 15px 5px 81px 7px rgba(237, 28, 36, 0.74);
  -moz-box-shadow: 15px 5px 81px 7px rgba(237, 28, 36, 0.74);
  transition: 400ms ease-in-out;
  cursor: pointer;
}

.img-cards {
  height: 200px;
  width: 200px;
  position: absolute;
  transform: translateY(-20px);
  border: solid 2px #ED1C24;
  border-radius: 5px;
  transition: 900ms ease-in-out;
  z-index: 1;
}

.detalles {
  display: none;
}

.detalles .subtitle {
  text-align: center;
  margin-bottom: 1rem;
}

.card:hover {
  height: 650px;
  transition: 900ms ease-in-out;
}

.card:hover .img-cards {
  transform: translateY(-180px);
}

.card:hover .detalles {
  display: block;
  margin-top: 120px;
  transform: translateY(80px);
  width: 200px;
  text-align: start;
  transition: 1ms ease-in-out;
}

/* GALERIA */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 5px;
}

.gallery-item {
  flex-basis: calc(33.3% - 10px);
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.gallery-item img {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
  transition: transform 0.5s;
}

.gallery-item:hover img {
  transform: scale(1.5);
}

/* ARTISTAS */

.staff {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.staff-member {
  width: 300px;
  margin: 20px;
  box-shadow: 0 0 10px rgb(237, 28, 36);
  overflow: hidden;
  border-radius: 5px;
}

.staff-member img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.staff-member h3,
p {
  color: aliceblue;
}

.staff-member h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.staff-member p {
  line-height: 1.5;
  margin-bottom: 20px;
}

/* HISTORIA */

.nuestraHistoria {
  margin-top: 30px;
}

.nuestraHistoria p {
  color: aliceblue;
  margin-bottom: 20px;
}

.nuestraHistoria p::first-letter {
  font-size: 1.5rem;
}

.video {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.video iframe {
  border: 3px solid red;
}

/* CONTACTO */

.contacto {
  background-color: rgb(195, 194, 193);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem;
}

.formulario-container,
.mapa-container {
  width: 90%;
  height: 650px;
  max-width: 1200px;
  flex: 1;
  margin: 1rem;
}


form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="submit"] {
  padding: 0.5rem;
  /* font-size: 1rem; */
}

select{
  padding: 0.5rem;
}

.titulo-contacto{
  padding: 30px;
  /* margin-bottom: 30px; */
}

input[type="submit"] {
  background-color: #ED1C24;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

input[type="submit"]:hover {
  background-color: #000000;
}

/* FOOTER */

footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-column {
  flex: 1;
  min-width: 300px;
  padding: 0 15px;
  box-sizing: border-box;
}

.footer-logo {
  max-width: 100%;
  height: auto;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-top: 10px;
}

.social-icons a img {
  max-width: 30px;
  height: auto;
}


/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-column {
    margin-bottom: 20px;
  }

  .social-icons {
    width: 100%;
  }
}

.copyright {
  text-align: center;
  padding: 10px 0;
  font-size: 0.8rem;
  background-color: #222;
}

/* MEDIA QUERYS */

/* tablet */

@media screen and (max-width: 768px) {
  .cards {
    max-width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
  }

  .card {
    margin-top: 90px;
  }

  .contacto{
    flex-direction: column;
  }

  .formulario-container,
    .mapa-container {
        max-width: 500px;

    }
}

/* mobile */

@media screen and (max-width: 480px) {
  .hero {
    grid-template-rows: 100px 1fr;
  }

  .container {
    padding: 50px 0;
  }

  .banner h1 {
    font-size: 2rem;
  }

  .text-menu {
    margin-bottom: 20px;
  }

  .cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .card {
    margin-top: 90px;
  }

  .gallery-item {
    flex-basis: calc(50% - 10px);
  }


}
